

h1 {
    color: white;
    font-family: 'Courier New';
    background-color: black;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 40%;
    left: 40%;
}

#button1 {
    position: absolute;
    top: 600px;
    left: 700px;
    color: red;
    font-size: 25px;
    font-family: 'Segoe UI';
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

#button2 {
    position: absolute;
    top: 560px;
    left: 700px;
    color: red;
    font-size: 25px;
    font-family: 'Segoe UI';
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

#button3 {
    position: absolute;
    top: 520px;
    left: 700px;
    color: red;
    font-size: 25px;
    font-family: 'Segoe UI';
    background-color: white;
    border-radius: 20px;
    margin: 10px;
}

#photo1 {
    position: absolute;
    border-radius: 50px;
    border: 10px;
}

#photo2 {
    position: absolute;
    left: 72%;
    border-radius: 50px;
    border: 10px;
}

#photo3 {
    position: absolute;
    top: 63%;
    border: 10px;
    border-radius: 50px;
}

#photo4 {
    position: absolute;
    top: 63%;
    left: 72%;
    border: 10px;
    border-radius: 50px;
}
